{% extends "base.html" %}
{% block title %}Portfolio - Stocking Stuffer{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{{current_user.username}}'s Portfolio</h2>

    <div class="mb-4">
        <h5>
            Available Funds: 
            <span class="badge bg-success">
                ${{ "%.2f"|format(user.funds) }}
            </span>
        </h5>
    </div>

    <table class="table table-striped table-hover table-bordered text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Stock</th>
                <th>Ticker</th>
                <th>Quantity</th>
                <th>Current Price</th>
                <th>Total Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in portfolio %}
            <tr>
                <td style="color: white;">{{ item.stock.name }}</td>
                <td style="color: white;"><strong>{{ item.stock.ticker }}</strong></td>
                <td style="color: white;">{{ item.quantity }}</td>
                <td style="color: white;">${{ "%.2f"|format(item.stock.currentMarketPrice) }}</td>
                <td style="color: white;">${{ "%.2f"|format(item.quantity * item.stock.currentMarketPrice) }}</td>
                <td>
                    <form method="GET" action="{{ url_for('trade', ticker=item.stock.ticker) }}">
                        <input type="number" name="quantity" min="1" max="{{ item.quantity }}" required class="form-control d-inline w-50 mb-2">
                        <input type="hidden" name="action" value="SELL">
                        <button type="submit" class="btn btn-warning btn-sm">Sell Stocks</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="text-center">No holdings yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
